# Node modules & package manager
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Expo
.expo/
web-build/
dist/

# Native build artifacts & directories
android/
ios/

# Keystores & sensitive credentials
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# Environment variables & local configuration
.env
.env*.local

# OS / Editor artifacts
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/
